/* 
form {
    border: 3px solid #f1f1f1;
  } */

button {
    border-radius: 25px;
    background-color: #fc9108;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}


/* .cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
  } */

.imgcontainer {
    border-radius: 25px;
    text-align: center;
    margin: 24px 0 12px 0;
}

img.avatar {
    width: 40%;
    border-radius: 50%;
}

.container {
    padding: 16px;
}

span.psw {
    float: right;
    padding-top: 16px;
}

@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }
    .cancelbtn {
        width: 100%;
    }
}

.center {
    /* background-image: url('../assets/img/login.png'); */
    vertical-align: middle;
    border-radius: 25px;
    margin: 200px 300px;
    width: 50%;
    border: 1px solid green;
    padding: 10px 10px 20px 10px;
}